---
layout: default
---

<h1 class="page-heading">Nathan Krischer - UX Designer</h1>

{% for post in site.posts %}
    <h2>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    {% if post.hero %}<a href="{{ post.url | prepend: site.baseurl }}">
      <img alt="{{post.heroalt}}" src="{{post.hero}}">
    </a>{% endif %}
    {% if post.description %}
    	 <p>{{ post.description }}</p>
    {% endif %}
    <hr>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
