---
layout: default
---

<h1 class="page-heading"><strong>Nathan Krischer - UX Designer</strong></h1>

{% for post in site.posts %}
    <div class="post">
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.hero %}<a href="{{ post.url | prepend: site.baseurl }}">
          <img alt="{{post.heroalt}}" src="{{post.hero}}">
        </a>{% endif %}
        {% if heroattr %}<p><em>{{post.heroattr}}</em></p>{% endif %}
        {% if post.description %}
             <p>{{ post.description }}</p>
        {% endif %}
        <hr>
    </div>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
